<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Predição de Imagem</title>
    <script src="https://unpkg.com/htmx.org@1.6.1/dist/htmx.min.js"></script>
</head>
<body>
    <div>
        <h1>Predição de Imagem</h1>
        <p>Envie uma imagem para obter a predição do número na imagem.</p>
        <form action="/modelo" method="post" enctype="multipart/form-data" hx-target="#resultado" hx-swap="innerHTML">
            <input type="file" name="teste_modelo" accept="image/*" required>
            <button type="submit">Enviar</button>
        </form>
        <div id="resultado">
        </div>
    </div>
</body>
</html>